name: autofix.ci

on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm install -g corepack@0.31.0 # todo: delete if https://github.com/nodejs/corepack/issues/612 is resolved
      - run: corepack enable
      - run: pnpm install
      - run: pnpm run lint --fix
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
