name: CI
on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "pnpm"
      - run: |
          node -v
          pnpm -v
      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm test --reporter=html
      - name: upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          path: html
          name: test-report

  test-types:
    runs-on: ubuntu-latest
    name: Test Types with TypeScript ${{ matrix.ts }}
    strategy:
      matrix:
        ts:
          - "4.7"
          - "4.8"
          - "4.9"
          - "5.0"
          - "5.1"
          - "5.2"
          - "5.3"
          - "5.4"
          - "5.5"
          - "5.6"
          - "5.7"
          - "5.8"
          - "5.9"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm install typescript@${{ matrix.ts }}
      - run: pnpm list typescript
      - run: pnpm type-check
      - run: pnpm tsgo

  are-the-types-wrong:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm arethetypeswrong
